<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScratchShell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScratchShell.Properties.Settings>
            <setting name="CurrentTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultShellType" serializeAs="String">
                <value />
            </setting>
            <setting name="Servers" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstTimeLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableCloudSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSyncOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSyncOnChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSyncTimestamp" serializeAs="String">
                <value />
            </setting>
            <setting name="Snippets" serializeAs="String">
                <value />
            </setting>
        </ScratchShell.Properties.Settings>
    </userSettings>
</configuration>